.managers-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.managers-each {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    width: 20em;
    padding: 15px;
    margin: 0 10px 10px 0;

    border: 1px solid #c7c7c7;
    border-radius: 8px;
}

.managers-each > div > div {
    margin-bottom: 0.5em;
}

.managers-each img {
    width: 100px;
    margin-right: 15px;
}
.managers-each-name {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.managers-each-name h3 {
    margin: 0 10px 0 0;
}